$dkBlue: #274690;
$mdBlue: #576CA8;
$cream: #F5F3F5;
$simpleFont: 'Lato', sans-serif;
$maxContentWidth: 1150px;

@mixin centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  border: green solid 2px;
  text-align: center;
}

body {
  background-color: $cream;
  font-family: $simpleFont;
}

h3 {
  color: $mdBlue;
  margin: 30px 0;
}

img {
  flex-shrink: 0;
}

.upperBarContainer {
  background-color: $dkBlue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  max-height: 120px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-height: 90%;
    img {
      width: auto;
      max-height: 60px;
    }
  }
  .mobileMenu {
    height: 40px;
    img {
      height: 100%;
    }
  }
}

.bannerPicture {
  height: auto;
  width: auto;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  img {
    min-height: 300px;
    width: auto;
    height: 80%;
    max-height: 400px;
  }
}

#amenitiesTitle {
  color: $dkBlue;
}
.amenities {
  @include centerContent;
  max-width: $maxContentWidth;
  .amentitiesGrid {
    grid-gap: 500px;
    margin: 0 20px;
    display: grid;
    height: auto;
    width: auto;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    .amText {
      background-color: $mdBlue;
      h3 {
        color: $cream;
        padding: 20px;
      }
    }
    img {
      min-height: 300px;
      width: 250px;
      height: auto;
      max-height: 400px;
    }
  }
}

.amText {
  display: flex;
  flex-direction: column;
}

.subscriptionContent {
  background-color: $dkBlue;
  max-width: $maxContentWidth;
  @include centerContent;
  h3 {
    color: $mdBlue;
  }
}

.contactContent {
  max-width: $maxContentWidth;
  @include centerContent;
  .contactInfo {
    display: flex;
    flex-direction: column;
  }
  .contactAddress {
    display: flex;
    flex-direction: column;
  }
}
