$dkBlue: #274690;
$mdBlue: #576CA8;
$cream: #F5F3F5;
$simpleFont: 'Lato', sans-serif;
$maxContentWidth: 1150px;

@mixin centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  // border: green solid 2px;
  text-align: center;
}

body {
  background-color: $cream;
  font-family: $simpleFont;
}

h3 {
  color: $mdBlue;
  margin: 30px 0;
}

img {
  flex-shrink: 0;
}

.upperBarContainer {
  background-color: $dkBlue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  max-height: 120px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-height: 90%;
    img {
      width: auto;
      max-height: 60px;
    }
  }
  .mobileMenu {
    height: 40px;
    img {
      height: 100%;
    }
  }
}

.bannerPicture {
  height: auto;
  width: auto;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  img {
    min-height: 300px;
    width: auto;
    height: 80%;
    max-height: 400px;
  }
}

#amenitiesTitle {
  color: $dkBlue;
}
.shoesContainer {
  width: 600px;
  margin: -40% auto 0 auto;
  z-index: 2;
  position: relative;
  left: 13%;
  .shoesGrid {
    display: grid;
    width: auto;
    // background: grey;
    grid-template: auto / auto auto;
    grid-gap: 20px;
    // button {
    //   padding: 0;
    //   &:hover {
    //     cursor: pointer;
    //   }
    // }
    img {
      width: 100%;
    }
  }
}
  // @media screen and (max-width: 925px) {
  //   margin: -300px auto 0 auto;
  //   position: relative;
  //   display: block;
  //   left: auto;
  //   width: 90%;
  // }
// }

.amText {
  display: flex;
  flex-direction: column;
}

.subscriptionContent {
  background-color: $dkBlue;
  max-width: $maxContentWidth;
  @include centerContent;
  .sub {
    background-color: $cream;
    margin: 20px 30px;
  }
  #cornerDesk {
    margin-bottom: 60px;
  }
  h5, p, h4 {
    color: $mdBlue;
  }
}


.contactContent {
  max-width: $maxContentWidth;
  // @include centerContent;
  padding-bottom: 50px;
  .contactInfo {
    display: flex;
    flex-direction: column;
    .contactImage {
      width: auto;
      img {
        width: 90%;
      }
    }
    .contactAddress {
      display: flex;
      flex-direction: column;
      #copywriteInfo {
        font-size: 10px;
        .leftAdd {
          justify-content: flex-start;
        }
      }
    }
  }
}
